/* #holding-tea {
  width: 100%;
  height: 400px;
  opacity: 85%;
  position: absolute;
  object-fit: cover;
} */
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Baloo+2');


#pouch {
  width: 155px;
  height: 65px;
  filter: invert(1);
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 5px;
 
}

#organic {
  width: 65px;
  height: 45px;
  filter: opacity(40%);
  margin-top: 50px;
}

#mood {
  width: 65px;
  height: 45px;
  
}
.collection {
  background-image: url('https://i.imgur.com/cyCwBAJ.jpg');
  background-size: cover;
  height: 300px;
  filter: opacity(80%);
  padding-bottom: 50px;
}

.tea-browse-link {
  margin-top: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  letter-spacing: 4px;
  color: #ffffff;
    background-color: #92b188;
    letter-spacing: 5px;
    font-size: 14px;
    font-weight: 600;
    border:  none;
    font-family: 'Baloo 2';
}

.home-name {
  color: #ffffff;
  font-size: 30px;
  font-weight: 340;
  letter-spacing: 8px;
  font-family: 'Baloo 2';
}



/* .app-name {
  color: #ffffff;
} */
.home {
  background-color: #f6f7f5;
  /* background-color: #f7fcfc; */
}

.name_logo {
  height: 500px;
}

.mission-statement {
  color: #ffffff;
  font-weight: 330;
  letter-spacing: 2px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 0px;
  margin-top: 5px;
  
}

h3.home-name {
  margin-top: 0;
}

.orgnic {
  color: #7d7f7c;
  font-weight: 500;
  margin-top: 5px;
  letter-spacing: 5px;
  font-size: 15px;
  margin-bottom: 50px;
  font-family: 'Baloo 2';

}

.mb {
  color: #7d7f7c;
  margin-top: 5px;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 15px;
  margin-bottom: 50px;
  font-family: 'Baloo 2';
}

.line {
  color: #7d7f7c;
}

@media only screen and (max-width: 376px) {
  .mission-statement {
    margin-bottom: 5px;
  }

  .home-name {
    margin-bottom: 0;
    margin-top: 0;
    
  }
}

@media only screen and (min-width: 768px) {
  .mission-statement {
    margin-bottom: 15px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .home-name {
    margin-bottom: 0;
    letter-spacing: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .mission-statement {
    margin-bottom: 15px;
    margin-left: 22%;
    margin-right: 22%;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }

  .home-name {
    margin-bottom: 20px;
    letter-spacing: 20px;
  }

}