#tealeaves {
  width: 100%;
  /* height: 220px; */
}

#login-pouch {
  
  width: 185px;
  height: 60px;
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.tp {
  color: #476042;
  
  font-size: 23px;
  font-weight: 330;
  letter-spacing: 8px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0px;
  
}

.teap {
  padding-top: 0px;
  margin-top: 0px;
  }

  .lg {
    text-align: center;
  }

  body {
    text-align: center;
  }

  #lg-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
   
  }
  label{
    color: #7d7f7c;
    letter-spacing: 3px;
    font-size: 13px;
    margin-bottom: 5px;
  }

  .lg-label {
    color: #7d7f7c;
  }


  .username {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 55%;
    margin-bottom: 15px;
   
  }
  
  .password {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 55%;
    margin-bottom: 15px;
  }

  .lg-text {
    color: #476042;
    font-weight: 370;
    padding-top: 20px;
    margin-bottom: 50px;
  }

  a {
    color: #476042;
  }
 
  .signin {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
    background-color: #92b188;
    letter-spacing: 3px;
    font-weight: 600;
    border:  none;
  }

  @media only screen and (min-width: 768px) {
    .username {
      padding-top: 12px;
      padding-bottom: 12px;
      
      width: 40%;
    }
    .password {
      width: 40%;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: 30px;
    }

    .signin {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 25px;
      padding-left: 25px;
      font-size: 15px;
    }
  }

  @media only screen and (min-width: 1024px) {
    .username {
      padding-top: 12px;
      padding-bottom: 12px;
      
      width: 33%;
    }
    .password {
      width: 33%;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: 30px;
    }

    .signin {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 25px;
      padding-left: 25px;
      font-size: 15px;
    }

    #tealeaves {
      height: 200px;
    }
  }
