.email {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 55%;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .email {
    padding-top: 12px;
    padding-bottom: 12px;
    
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .email {
    padding-top: 12px;
    padding-bottom: 12px;
    
    width: 33%;
  }
}