.main-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #000000;
  filter: opacity(87%);
}

#detailpic {
  height: 40vh;
  position: relative;
  left: -210%;
  margin-bottom: 150px;
}

.detail-img {
  height: 200px;
  width: 70px;
  padding-bottom: 100px;
}

.full-tea {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 35% 50%;
 
}

.main-detail-content {
  display: flex;
  flex-direction: column;
}
.exclude-image {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.teaItem-details {
  color: #ffffff;
  font-size: 13px;
}

.tea-link1 {
  text-decoration: none;
  margin-right: 25px;
  margin-bottom: 40px;
  color: #ffffff;
  font-weight: 340;
  letter-spacing: 3px;
  font-size: 12px;

}
/* .edit-delete-btns {
  display: flex;
  flex-direction: row;

} */